.progress {
  height: 0;
  position: relative;
}
.progress > span {
  display: inline-block;
  width: 150px;
  overflow-x: visible;
  white-space: nowrap;
  transform-origin: center left;
  transform: translateY(-50px) rotate(-45deg);
}

.my-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
